@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Courgette&display=swap&family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.navbar {
  display: flex;

  font-size: 1.5em;
  text-align: center;

  top: 0;
  z-index: 10;

  font-family: 'Fjalla One', sans-serif;
  padding: 0 0 0 60px;

  background-color: transparent;
  box-shadow: none;

  transition: all 0.8s;
}

.navbar-name {
  user-select: none;

  float: left;

  margin: 0 auto 0 0;
  padding: 10px;

  font-family: 'Charmonman', cursive;
}
.navbar-name p {
  opacity: 0;
}

.navbar-items {
  margin: 0px 5px 0 0;

  border-right: solid 2px #283944;
}

.navbar-items li {
  float: left;
  display: inline;

  padding: 20px;

  border-left: solid 1px #283944;
}

.navbar-items li:nth-last-of-type() {
  border-left: solid 4px #fc0000;
}

.navbar-items li:hover {
  background-color: #25343f;
}

.active {
  position: sticky;
  background-color: #040607;
  box-shadow: #090d10 0 2px 20px 2px;

  animation: menuAppear 0.5s;
}

.hidden {
  animation: fadeout 0.8s;
  opacity: 0;
}
.visible {
  animation: fadein 0.8s forwards;
}

li {
  color: green;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes menuAppear {
  from {top: -100px;}
  to {top: 0}
}